@page
@{
    ViewData["Title"] = "Sales Report List";
}

<div id="app" v-cloak>
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div ref="mainGridRef"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/SalesReports/SalesReportList.cshtml.js"></script>
}