@{
    var companyName = "companyName";
    var companyWeb = "companyWeb";
    var year = DateTime.Now.Year;
}
<div class="container-fluid pt-0 px-0 adminfooter">
    <div class="p-2">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                <small id="footerContent">
                    &copy; @year <a href="@companyWeb">@companyName</a>, All Right Reserved.
                </small>
            </div>
        </div>
    </div>
</div>
