@page
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div class="container-fluid" id="app" v-cloak>
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="bg-auth rounded p-4 p-sm-5 my-4 mx-3">
            <div class="row">
                <div class="col-md-12 text-center mb-3">
                    <h3 class="text-white">Forgot Password Confirm</h3>
                    <a asp-page="/Index" class="">
                        <p><i class="fas fa-tachometer-alt me-2 text-white"></i><span class="text-white">@ViewData["App"]</span></p>
                    </a>
                </div>
                <div class="col-md-12">
                    <p>Please wait...</p>
                    <p>Password reset is in progress.</p>
                    <span class="spinner-border spinner-border-sm me-2"
                          v-if="state.isSubmitting"
                          role="status"
                          aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/FrontEnd/Pages/Accounts/ForgotPasswordConfirmation.cshtml.js"></script>
}