@page
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container-fluid" id="app" v-cloak>
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="bg-auth rounded p-4 p-sm-5 my-4 mx-3">
            <div class="row">
                <div class="col-md-12 text-center mb-3">
                    <h3 class="text-white">Forgot Password</h3>
                    <a asp-area="" asp-page="/Index" class="">
                        <p><i class="fas fa-tachometer-alt me-2 text-white"></i><span class="text-white">@ViewData["App"]</span></p>
                    </a>
                </div>
                <div class="col-md-12">
                    <form v-on:submit.prevent="handleSubmit">
                        <div class="form-group mb-2">
                            <label for="Email" class="text-white">Email address</label>
                            <input id="Email" 
                                   name="Email" 
                                   type="email" 
                                   class="form-control" 
                                   placeholder="name@example.com"
                                   v-model="state.email"
                                   v-on:input="state.errors.email = ''">
                            <label v-if="state.errors.email" class="text-danger">{{ state.errors.email }}</label>
                        </div>
                        <button type="submit"
                                v-bind:disabled="state.isSubmitting"
                                class="btn btn-primary w-100 mb-2">
                            <span class="spinner-border spinner-border-sm me-2"
                                  v-if="state.isSubmitting"
                                  role="status"
                                  aria-hidden="true"></span>
                            <span>{{ state.isSubmitting ? 'Resetting...' : 'Reset' }}</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="text-start text-white mb-0">Already have an Account? <a asp-page="/Accounts/Login">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/FrontEnd/Pages/Accounts/ForgotPassword.cshtml.js"></script>
}