<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Stylesheet Libraries -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/auth_template/css/style.css" rel="stylesheet">
    @await RenderSectionAsync("styles", required: false)
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>

    @* vue *@
    <script src="~/lib/vue/vue.global.prod.js"></script>

    <!-- JavaScript Libraries -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="~/lib/axios/axios.min.js" defer></script>
    <script src="~/lib/sweetalert/sweetalert2v11.js" defer></script>
    <script src="~/lib/indotalent/storage-manager.js" defer></script>
    <script src="~/lib/indotalent/security-manager.js" defer></script>
    <script src="~/lib/indotalent/axios-manager.js" defer></script>


</head>

<body>
    <div class="row m-0 p-0 justify-content-center align-items-center">
        <div class="col-12 m-0 p-0 auth-area">
            <div class="container-fluid position-relative d-flex p-0 col-12 col-md-6 col-lg-4 rounded">
                @RenderBody()
            </div>
        </div>
    </div>

    @await RenderSectionAsync("scripts", required: false)
</body>

</html>